.minusplus{
    width: 5%;
    font-size: 20px;
}
.cardlistmain{
    width: 50%;
    border: 2px solid #00296b;
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px;
}
.cartitem{
    background-color: #e9ecef;
    border: 2px solid #00296b;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}
.imgforcartitem{
    border: none;
}